.mat-button,
.mat-flat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button {
  border-radius: 2rem !important;
  min-width: 10rem !important;
}

.mat-button,
.mat-flat-button,
.mat-raised-button,
.mat-icon-button{
  line-height: 3.2rem !important;
}

.mat-stroked-button {
   line-height: 3rem !important;
}