@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '../variables/colors/index';

html {
  font-size: 10px;
  font-family: Roboto, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica,
    Arial, 'Lucida Grande', sans-serif;
}

body {
  font-size: 14px;
}

// Theme Overrides
// Import library functions for theme creation.
@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($vt-primary);
$accent: mat-palette($mat-pink, A200, A100, A400);

// SWAPPING THEMES

.theme {
  &--light {
    $theme: mat-light-theme($primary, $accent);

    @include angular-material-theme($theme);
  }

  &--dark {
    $theme: mat-dark-theme($primary, $accent);
    background: #303030;
    color: white;

    @include angular-material-theme($theme);
  }
}
